* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
}

.container {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.h1 {
  margin-top: 30px;
  margin-left: 20px;
}
.h1:hover {
  text-decoration: underline;
}

.search {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  color: #e5e4e2;
  border-radius: 10px;
  width: 90px;
  height: 130px;
  align-items: center;
}

.search span {
  font-size: 35px;
  padding-top: 20px;
}

.library span {
  font-size: 35px;
  padding-top: 20px;
}

span:hover {
  cursor: pointer;
  color: white;
  transition: 1s;
}

.library {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  color: #fff;
  height: 65vh;
  width: 90px;
  border-radius: 10px;
  align-items: center;
}

.library img {
  padding-top: 10px;
  object-fit: contain;
  aspect-ratio: 4/4;
  width: 80%;
  height: auto;
  border-radius: 50%;
}

.content {
  overflow-y: scroll;
  border-radius: 10px;
  margin: 20px 10px;
  flex-direction: column;
  background-color: #171719;
  display: flex;
  width: 60%;
  height: 85vh;
  width: 1000px;
  color: #e5e4e2;
}

.top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 590px;
  position: fixed;
  z-index: 99;
}

.arrow {
  /* border: 1px solid red; */
  padding: 20px 20px;
}

.arrow span {
  border-radius: 50%;
  background-color: #000;
  font-size: 30px;
}

.profile {
  margin: 10px 20px;
  /* border: 1px solid red; */
  display: flex;
  gap: 25px;
}
.profile img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.profile span {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  /* background-color: #000; */
  font-size: 30px;
}

button {
  background-color: white;
  border-radius: 30px;
  width: 130px;
  height: 35px;
  font-weight: 700;
}

.mid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-evenly;
  gap: 20px;
}

.songs {
  display: flex;
  flex-direction: row;
  height: 80px;
  background-color: #191919;
  width: 300px;
  border-radius: 5px;
}
.songs:hover {
  background-color: #444445;
}

.songs img {
  border-radius: 5px 0 0 5px;
  width: 30%;
  height: 100%;
}

.made-for {
  display: flex;
  justify-content: space-around;
}

.playlist {
  border-radius: 10px;
  height: 200px;
  margin: 20px;
  width: 150px;
  flex-direction: column;
  display: flex;
  background-color: #191919;
  align-items: center;
  padding-top: 15px;
  /* border: 1px solid red; */
  transition: 0.9s;
}

.playlist:hover {
  background-color: #444445;
}

.playlist p {
  font-size: 15px;
  color: #646262;
  margin: 5px 20px;
}

.playlist img {
  width: 80%;
  height: 120px;
  border-radius: 10px;
}

.left {
  overflow-y: scroll;
  border-radius: 10px;
  margin: 20px 10px;
  flex-direction: column;
  background-color: #171719;
  display: flex;
  width: 60%;
  height: 85vh;
  width: 1000px;
  color: #e5e4e2;
}

.cancel {
  display: flex;
  gap: 140px;
  justify-content: space-evenly;
  margin: 20px 20px;
}

.playing {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.playing img {
  border-radius: 5px;
  display: flex;
  margin: 20px;
}

.name {
  display: flex;
}

.text {
  flex-direction: column;
  display: flex;

  width: 260px;
}

.text h1,
h4 {
  font-weight: 500;
  margin-left: 20px;
  margin-top: 5px;
}

.icon {
  padding-left: 30px;
  margin-top: 20px;
  /* width: 70px;
  border: 1px solid red; */
}

.band {
  border-radius: 5px;
  margin: 10px;
}

.queue {
  margin-top: 10px;
  border-radius: 10px;
  align-self: center;
  background-color: #444445;
  width: 90%;
  height: 140px;
  display: flex;
  flex-direction: column;
}

.heading {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 70px;
}

.box {
  margin-top: 10px;
  background-color: #444445;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  width: 90%;
  border-radius: 10px;
  justify-self: center;
  align-self: center;
}

.box img {
  border-radius: 5px;
  margin: 10px;
  width: 20%;
  height: 50px;
}

.last {
  margin-top: 0px;
  background-color: #121212;
  display: flex;
  height: 75px;
  justify-content: space-between;
}

.left-side {
  display: flex;
  height: 70px;
  flex-direction: row;
  border: 1px solid red;
}

.left-side img {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  align-self: center;
  border-radius: 10px;
}

.txt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10px;
  color: #fff;
}

.txt h2 {
  font-weight: 400;
  font-size: 20px;
}
.txt p {
  font-weight: 300;
}

.middle {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.upper {
  gap: 20px;
  color: #fff;
  display: flex;
  align-self: center;
  justify-self: center;
}

.lower {
  justify-content: space-between;
  gap: 10px;
  display: flex;
  color: #fff;
}

.right {
  color: #fff;
  display: flex;
  align-self: center;
  padding-right: 10px;
  gap: 20px;
  font-weight: 200;
}

::-webkit-scrollbar {
  width: 10px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

input {
  width: 250px;
  height: 3px;
  appearance: none;
  background-color: #ccc;
  /* outline: none; */
}
input[type="range"]::-webkit-slider-thumb {
  width: 7px;
  height: 7px;
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  appearance: none;
  cursor: pointer;
}
